<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  
  	<typeAliases>
  		<typeAlias type="org.ryuuzakiumi.dto.BoardDTO" alias="boardDTO"/>
  		<typeAlias type="org.ryuuzakiumi.dto.WriteDTO" alias="writeDTO"/>
  		<typeAlias type="org.ryuuzakiumi.dto.CommentDTO" alias="commentDTO"/>
  		
  	</typeAliases>
  
  </configuration>