@charset "UTF-8";

.title {
	text-align: left;
}
.title > a{
	text-decoration: none;
	color: black;
}
.title > a:hover {
	color: yellow;
}
.badge{
   background-color: green;
}
.vh-500{
	height: 500px;
}